@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Global styles */
body {
  background-color: white;
  color: black;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: white;
  }

  .dark-mode {
    background-color: #121212;
    color: white;
  }

  .dark-mode .bg-white {
    background-color: #1e1e1e;
  }

  .dark-mode .text-gray-800 {
    color: #e0e0e0;
  }

  .dark-mode .text-gray-600 {
    color: #c0c0c0;
  }
}
